// ----------------------------------------------------------------------------
// Colours
// ----------------------------------------------------------------------------

// Brand
$clr-kusiri-red          : #C00020;
$clr-kusiri-teal         : #4C8983;
$clr-kusiri-teal-lite    : #A6C4C1;
$clr-kusiri-mustard      : #9A9B3C;
$clr-kusiri-mustard-lite : #CCCD98;
$clr-kusiri-grape        : #502A57;
$clr-kusiri-grape-lite   : #A894AB;
$clr-kusiri-white        : #FFFFFF;
$clr-kusiri-ebony        : #353138;
$clr-kusiri-beige-1      : #E5E3E3;
$clr-kusiri-beige-2      : #ECEBEB;
$clr-kusiri-beige-3      : #DAD8D8;







$clr-bg          : #efefef;
$clr-body-copy   : #444;


$clr-link-off    : #449;
$clr-link-hover  : #66b;
$clr-link-active : #88d;



// Grey ramp
// ----------------------------------------------------------------------------

$clr-grey-0 : #333; // darkest
$clr-grey-1 : #555;
$clr-grey-2 : #777;
$clr-grey-3 : #999;
$clr-grey-4 : #bbb;
$clr-grey-5 : #ddd;
$clr-grey-6 : #eee; // lightest





// Form elements
// ----------------------------------------------------------------------------

$clr-border-input : $clr-grey-4;
$clr-bg-input     : $clr-grey-6;














