// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------


// Susy scss library
// ----------------------------------------------------------------------------
$susy: (

  columns           : 12,
  gutters           : .25,
  gutter-position   : split,
  global-box-sizing : border-box

);

